@import url('https://fonts.googleapis.com/css?family=Lobster');

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


body{
		background-image: url("../images/earth.jpg");

		color: #03FF1F;

		font-size: 22px;
	}
		ul{
			list-style-type: none;
	
		}

		#slogan{
			font-size: 28px;
			font-variant: small-caps;
			text-decoration: underline;
			text-align: center;
			font-family: 'Rock Salt', cursive;
		}
		
		h1{
			font-size: 40px;
			text-align: center;
			font-weight: bold;
			font-family: 'Lobster';
			letter-spacing: 2px;
		}
		
		p{
			text-align: left;
			line-height: 1.5em;
			margin: 2em;
		}

		#CTA{
			text-align: center;
			font-size: 28px;
			font-style: italic;
		}

		address{ 
			text-align: right; 
		}